In [1]:
import pandas as pd

In [17]:
maturities=['WGS3MO.csv','WGS6MO.csv','WGS1YR.csv','WGS2YR.csv','WGS3YR.csv','WGS5YR.csv','WGS7YR.csv','WGS10YR.csv','WGS20YR.csv','WGS30YR.csv']
df=pd.read_csv('WGS1MO.csv',index_col=0)
for i in maturities:
    df1=pd.read_csv(i,index_col=0)
    df=pd.concat([df, df1], axis=1).reindex(df1.index)
df.columns=['1m','3m','6m','1yr','2yr','3yr','5yr','7yr','10yr','20yr','30yr']
df

              1m    3m    6m   1yr   2yr   3yr   5yr   7yr  10yr  20yr  30yr
DATE
2011-03-25  0.05  0.09  0.16  0.26  0.71  1.17  2.10  2.78  3.38  4.22  4.46
2011-04-01  0.04  0.09  0.17  0.30  0.80  1.30  2.23  2.90  3.47  4.29  4.51
2011-04-08  0.03  0.05  0.13  0.27  0.82  1.32  2.28  2.95  3.54  4.35  4.57
2011-04-15  0.03  0.06  0.12  0.24  0.77  1.27  2.22  2.88  3.51  4.33  4.55
2011-04-22  0.04  0.06  0.11  0.24  0.69  1.15  2.12  2.78  3.41  4.23  4.46
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2021-02-19  0.03  0.04  0.06  0.07  0.12  0.22  0.57  0.95  1.31  1.93  2.09
2021-02-26  0.03  0.04  0.05  0.08  0.13  0.26  0.68  1.08  1.42  2.09  2.23
2021-03-05  0.04  0.04  0.07  0.08  0.14  0.29  0.73  1.16  1.49  2.14  2.25
2021-03-12  0.04  0.04  0.06  0.09  0.16  0.33  0.82  1.24  1.57  2.20  2.30
2021-03-19  0.01  0.02  0.05  0.07  0.15  0.32  0.85  1.31  1.66  2.32  2.41

[522 rows x 11 columns]

In [22]:
df.to_csv('CMT.csv')